<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="native" xmlns:w="http://www.zkoss.org/2005/zk/client">
	<div zclass="none"
		viewModel="@id('vm') @init('com.app.web.vm.admin.BranchVM')"
		validationMessages="@id('vmsgs')">
		<include src="components/base-crud.zul"></include>
	</div>
</zk>