<zk xmlns:n="native" xmlns:w="http://www.zkoss.org/2005/zk/client">
	<div zclass="none"
		viewModel="@id('vm') @init('com.app.web.vm.admin.FunctionVM')"
		validationMessages="@id('vmsgs')">
		<n:section class="content">
			<n:div class="row">
				<div sclass="col-md-4">
					<div sclass="box"
						form="@id('fn') @load(vm.selectedItem) @save(vm.selectedItem, before='create') @save(vm.selectedItem, before='update') @validator(vm.formValidator)">
						<div sclass="box-header with-border">
							<n:h3 class="box-title">Form</n:h3>
						</div>
						<div sclass="box-body">
							<div sclass="form-group">
								<label
									w:onClick="this.$f('txtId').focus()"
									value="${labels.field.id}" />
								<textbox id="txtId"
									sclass="form-control" value="@load(vm.selectedItem.id)"
									readonly="true" placeholder="${labels.field.id}" />
								<label value="@load(vmsgs['id'])" />
							</div>
							<div
								sclass="@load(vmsgs['code'] eq null ? 'form-group' : 'form-group has-error')">
								<n:span class="text-red">*</n:span>
								<label
									w:onClick="this.$f('txtCode').focus()"
									value="${labels.field.code}" />
								<textbox id="txtCode" sclass="form-control"
									value="@bind(vm.selectedItem.code)"
									placeholder="${labels.field.code}" />
								<label sclass="text-red help-block"
									value="@load(vmsgs['code'])" />
							</div>
							<div
								sclass="@load(vmsgs['name'] eq null ? 'form-group' : 'form-group has-error')">
								<n:span class="text-red">*</n:span>
								<label
									w:onClick="this.$f('txtName').focus()"
									value="${labels.field.name}" />
								<textbox id="txtName"
									sclass="form-control" value="@bind(vm.selectedItem.name)"
									placeholder="${labels.field.name}" />
								<label sclass="text-red help-block"
									value="@load(vmsgs['name'])" />
							</div>
							<div
								sclass="@load(vmsgs['desc'] eq null ? 'form-group' : 'form-group has-error')">
								<label
									w:onClick="this.$f('txtDesc').focus()"
									value="${labels.field.desc}" />
								<textbox id="txtDesc"
									sclass="form-control" value="@bind(vm.selectedItem.desc)"
									placeholder="${labels.field.desc}" multiline="true" rows="2" />
								<label sclass="text-red help-block"
									value="@load(vmsgs['desc'])" />
							</div>
							<div
								sclass="@load(vmsgs['path'] eq null ? 'form-group' : 'form-group has-error')">
								<label
									w:onClick="this.$f('txtPath').focus()"
									value="${labels.field.path}" />
								<textbox id="txtPath"
									sclass="form-control" value="@bind(vm.selectedItem.path)"
									placeholder="${labels.field.path}" />
								<label sclass="text-red help-block"
									value="@load(vmsgs['path'])" />
							</div>
							<div
								sclass="@load(vmsgs['level'] eq null ? 'form-group' : 'form-group has-error')">
								<label
									w:onClick="this.$f('txtLevel').focus()"
									value="${labels.field.level}" />
								<intbox id="txtLevel"
									sclass="form-control" value="@bind(vm.selectedItem.level)"
									placeholder="${labels.field.level}" />
								<label sclass="text-red help-block"
									value="@load(vmsgs['level'])" />
							</div>
							<div
								sclass="@load(vmsgs['txtSequence'] eq null ? 'form-group' : 'form-group has-error')">
								<label
									w:onClick="this.$f('txtSequence').focus()"
									value="${labels.field.sequence}" />
								<intbox id="txtSequence"
									sclass="form-control" value="@bind(vm.selectedItem.sequence)"
									placeholder="${labels.field.sequence}" />
								<label sclass="text-red help-block"
									value="@load(vmsgs['sequence'])" />
							</div>
							<div
								sclass="@load(vmsgs['icon'] eq null ? 'form-group' : 'form-group has-error')">
								<label
									w:onClick="this.$f('txtIcon').focus()"
									value="${labels.field.icon}" />
								<textbox id="txtIcon"
									sclass="form-control" value="@bind(vm.selectedItem.icon)"
									placeholder="${labels.field.icon}" />
								<label sclass="text-red help-block"
									value="@load(vmsgs['icon'])" />
							</div>
							<div
								sclass="@load(vmsgs['parent'] eq null ? 'form-group' : 'form-group has-error')">
								<label
									w:onClick="this.$f('cboParent').focus()"
									value="${labels.field.parent}" />
								<combobox id="cboParent" width="100%"
									readonly="false" sclass="form-control"
									model="@load(vm.functions)"
									value="@load(vm.selectedItem.parent)" autocomplete="true"
									selectedItem="@bind(vm.selectedItem.parent)">
									<template name="model">
										<comboitem label="${each}"
											description="${each.code}" />
									</template>
								</combobox>
								<label sclass="text-red help-block"
									value="@load(vmsgs['parent'])" />
							</div>
							<div
								sclass="@load(vmsgs['txtMenu'] eq null ? 'form-group' : 'form-group has-error')">
								<label value="${labels.field.menu}" />
								<radiogroup
									selectedItem="@bind(vm.selectedItem.menu)">
									<div>
										<radio label="Yes" value="Y" />
										<radio label="No" value="N" />
									</div>
								</radiogroup>
								<label sclass="text-red help-block"
									value="@load(vmsgs['menu'])" />
							</div>
						</div>
						<div sclass="box-footer">
							<include src="components/crud-action.zul"></include>
						</div>
					</div>
				</div>
				<div sclass="col-md-8">
					<div sclass="box">
						<div sclass="box-header with-border">
							<n:h3 class="box-title">List</n:h3>
						</div>
						<div sclass="box-body">
							<div sclass="row">
								<div sclass="col-md-4 form-group">
									<label sclass="col-form-label">
										${labels.field.name}
									</label>
									<textbox sclass="form-control"
										value="@bind(vm.param.name)" onOK="@command('filter')" />
								</div>
								<div sclass="col-md-4 form-group">
									<label sclass="col-form-label">
										${labels.field.parent}
									</label>
									<combobox width="100%"
										readonly="false" sclass="form-control"
										model="@load(vm.functionsParam)" autocomplete="true"
										value="@load(vm.param.parent)"
										selectedItem="@bind(vm.param.parent)"
										onChange="@command('filter')">
										<template name="model">
											<comboitem label="${each}"
												description="${each.code}" />
										</template>
									</combobox>
								</div>
							</div>
							<div class="mailbox-controls search-bar">
								<n:span>
									${labels.field.pagesize}
								</n:span>
								<spinner id="quantitySpinner"
									width="100px" value="@load(vm.pageSize)"
									onChange="@command('changePageSize', size = self.value)"
									format=",###" constraint="no empty,min 1, max 100" />
								<n:span>
									<a
										sclass="btn btn-sm btn-success btn-flat"
										onClick="@command('filter')">
										<n:i class="fa fa-search">
											${labels.button.search }
										</n:i>
									</a>
									<a
										sclass="btn btn-sm btn-warning btn-flat"
										onClick="@command('clear')">
										<n:i class="fa fa-remove">
											${labels.button.clear }
										</n:i>
									</a>
								</n:span>
							</div>
							<listbox model="@load(vm.lst)"
								selectedItem="@bind(vm.selectedItem)"
								emptyMessage="No record">
								<listhead sizable="true">
									<listheader
										label="${labels.field.id}" width="50px" />
									<listheader
										label="${labels.field.status}" width="70px" />
									<listheader
										label="${labels.field.code}" />
									<listheader
										label="${labels.field.name}" />
									<listheader
										label="${labels.field.desc}" />
									<listheader
										label="${labels.field.path}" />
									<listheader
										label="${labels.field.level}" />
									<listheader
										label="${labels.field.sequence}" />
									<listheader
										label="${labels.field.icon}" />
									<listheader
										label="${labels.field.menu}" />
									<listheader
										label="${labels.field.parent}" />
									<listheader
										label="${labels.field.createdBy}" />
									<listheader
										label="${labels.field.createdOn}" />
								</listhead>
								<template name="model">
									<listitem>
										<listcell label="${each.id}" />
										<listcell
											sclass="text-center">
											<n:span
												class="label ${each.statusDesc.color}">
												${each.statusDesc.name}
											</n:span>
										</listcell>
										<listcell label="${each.code}" />
										<listcell label="${each.name}" />
										<listcell label="${each.desc}" />
										<listcell label="${each.path}" />
										<listcell label="${each.level}" />
										<listcell
											label="${each.sequence}" />
										<listcell label="${each.icon}" />
										<listcell label="${each.menu}" />
										<listcell
											label="${each.parent}" />
										<listcell
											label="${each.createdBy}" />
										<listcell
											label="@load(each.createdOn) @converter('formatedDate', format=vm.app.datetimeFormat)" />
									</listitem>
								</template>
							</listbox>
							<paging pageSize="@load(vm.pageSize)"
								detailed="true" mold="default" onPaging="@command('onPaging')"
								totalSize="@load(vm.totalSize)"
								activePage="@bind(vm.activePage)">
							</paging>
						</div>
					</div>
				</div>
			</n:div>
		</n:section>
	</div>
</zk>