<zk xmlns:n="native" xmlns:w="http://www.zkoss.org/2005/zk/client">
	<window id="confirm_dialog" position="top,center"
		action="show: slideDown; hide: slideUp" title="Confirm Dialog"
		closable="true" width="450px" sizable="true" maximizable="true">
		<div
			viewModel="@id('vm') @init('com.app.web.vm.components.ConfirmBoxVM')"
			validationMessages="@id('vmsgs')">
			<n:div class="box-body">
				<span>${vm.message}</span>
			</n:div> 
			<div sclass="mailbox-controls right">
				<a sclass="btn btn-flat btn-info btn-sm"
					onClick="@command('onOk')">
					${labels.field.ok }
				</a>
				<a sclass="btn btn-flat btn-danger btn-sm"
					onClick="@command('onCancel')">
					${labels.field.cancel}
				</a>
			</div>
		</div>
	</window>
</zk>