<zk xmlns:n="native">
	<div sclass="btn-group">
		<a sclass="btn btn-default btn-sm"
			onClick="@command('firstPage')"
			disabled="@load(vm.activePage eq 0)">
			<n:i class="fa fa-step-backward"></n:i>
		</a>
		<a sclass="btn btn-default btn-sm"
			onClick="@command('previousPage')" disabled="@load(!vm.previous)">
			<n:i class="fa fa-chevron-left"></n:i>
		</a>
		<textbox sclass="btn btn-sm" width="50px"
			value="@load(vm.activePage + 1)" />
		<a sclass="btn btn-default btn-sm"
			onClick="@command('nextPage')" disabled="@load(!vm.next)">
			<n:i class="fa fa-chevron-right"></n:i>
		</a>
		<a sclass="btn btn-default btn-sm"
			onClick="@command('lastPage')" disabled="@load(!vm.next)">
			<n:i class="fa fa-step-forward"></n:i>
		</a>
	</div>
</zk>