html, body {
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
}

table {
	width: 100%;
}

.padding {
	padding: 10px;
}

.margin {
	margin: 10px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.skin-blue .main-header .navbar, .skin-blue .main-header .logo {
	background-color: #367fa9;
}

.skin-blue .main-header .navbar, .skin-blue .main-header .logo:hover {
	background-color: #3c8dbc;
}

.skin-blue .main-header li.user-header {
	background-color: #3c8dbc;
}

.table-hover tbody>tr:hover {
	background-color: #f5f5f5;
}

table {
	background-color: transparent;
}

.table tbody>tr>td, .table tbody>tr>th, .table tfoot>tr>td, .table tfoot>tr>th,
	.table thead>tr>td, .table thead>tr>th {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td,
	.table tbody>tr>td, .table tfoot>tr>td {
	border-top: 1px solid #f4f4f4;
	background-color: transparent;
}

input, label {
	font-size: 14px !important;
}

input[type="text"], .input-group-btn, .z-combobox-button,
	.z-datebox-button, .z-datebox-button, .input-group-sm>.form-control,
	.input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn
	{
	border-radius: 0 0 0 0 !important;
}

.z-messagebox-success {
	background-image: url('img/icon/check.png');
}

.z-combobox-disabled>*, .z-bandbox-disabled>*, .z-datebox-disabled>*,
	.z-timebox-disabled>*, .z-spinner-disabled>*, .z-doublespinner-disabled>*,
	.z-textbox[disabled], .z-decimalbox[disabled], .z-intbox[disabled],
	.z-longbox[disabled], .z-doublebox[disabled] {
	color: rgba(0, 0, 0, 0.90) !important;
	background: #f2f2f2 !important;
}

input[type=checkbox], input[type=radio] {
	margin: 0 4px 2px 8px;
	margin-top: 1px;
	line-height: normal;
}

.z-listheader, .z-auxheader, .z-column {
	background-color: white !important;
	border-left-color: rgb(210, 214, 222) !important;
	border-right: 1px solid rgb(210, 214, 222) !important;
	border-bottom-color: rgb(210, 214, 222) !important;
}

.z-listheader-content, .z-auxheader-content, .z-column-content {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial,
		sans-serif !important;
	color: #333;
	font-weight: bold;
	border-bottom-color: white !important;
	font-size: 12px;
	padding: 0px 5px 0 5px;
}

.z-listbox-header-border, .z-grid-header-border {
	border-bottom-color: rgb(210, 214, 222) !important;
}

.z-listcell-content, .z-listbox-emptybody-content, z-grid-emptybody {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial,
		sans-serif !important;
	font-size: 12px !important;
	font-weight: 400;
}

.z-listfooter-content {
	color: #333;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial,
		sans-serif !important;
}

.z-listbox-header {
	background: none;
}

input.z-textbox, .z-datebox-input, .z-datebox-button, .z-longbox,
	.z-intbox, .z-combobox-input, .z-combobox-button, .z-doublebox {
	height: 30px !important;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial,
		sans-serif !important;
}

.z-textbox, .z-paging {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial,
		sans-serif !important;
}

.z-combobox-button {
	height: 30px !important;
	width: 5px !important;
}

.z-label {
	font-size: 12px;
}

.form-control {
	padding: 5px;
}

.z-combobox-popup {
	padding: 0px;
}

.z-loading {
	height: 0;
}

.z-column-content, .z-row-content, .z-group-content,
	.z-groupfoot-content, .z-footer-content {
	border-width: 0px !important;
	font-size: 14px !important;
}

.z-grid-header {
	background: transparent !important;
}

.wrapper {
	overflow-y: hidden;
}

.CodeMirror {
	border: 1px solid #eee;
	height: auto;
}

.block {
	display: block;
}

.folder-item a>ul {
	margin: 5px;
	list-style-type: none;
}

.folder-item .btn-option {
	position: absolute;
	border: 1px solid #0d6aad;
	background-color: #FFFFFF;
	right: 0;
	bottom: 0;
	top: auto;
	margin-bottom: -17px;
}

.copyright {
	color: #FFF;
	position: absolute;
	bottom: 5px;
	left: 15px;
}

.sidebar-collapse .copyright {
	display: none;
}

.daskboard-content {
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

.none-right-scroll {
	display: none;
}

.none-left-scroll {
	display: none;
}

.daskboard-content>.nav-tabs {
	border: none;
}

.daskboard-content>.nav-tabs>li>a, .daskboard-content>.nav-tabs>li>a:hover,
	.daskboard-content>.nav-tabs>li>a:focus {
	border: none;
	background-color: rgba(0, 0, 0, 0);
	color: #000000;
	font-size: 1.8rem;
	line-height: 1.4444;
	margin: 0 1.9rem 1.3rem 0;
	padding: 0;
}

.daskboard-content>.nav-tabs>li>a:hover, .daskboard-content>.nav-tabs>li>a:focus
	{
	color: #005383;
}

.daskboard-content>.nav-tabs>li.active>a>span {
	border-color: #005383;
	color: #005383;
	font-weight: 700;
}

.daskboard-content>.nav-tabs>li>a>span {
	line-height: 2.4rem;
	border-bottom: .3rem solid;
	border-color: rgba(0, 0, 0, 0);
	padding-bottom: .5rem;
}

.daskboard-content>.tab-content {
	padding-top: 2rem;
}

.daskboard-content>.right-menu {
	position: absolute;
	right: 0;
	top: 0;
	width: 250px;
	margin-right: 2rem;
}

.filter-found .menu-name, .filter-found .fa {
	
}

.filter-found .enter .menu-name, .filter-found .enter .fa {
	color: #F15922;
}

@media ( max-width : 480px) {
	.applink {
		width: 100%;
	}
	.daskboard-content>.right-menu {
		margin-right: 0;
	}
}

@media ( max-width : 768px) {
	.daskboard-content>.right-menu {
		position: relative;
		width: 100%;
		margin-right: 0;
	}
}

@media ( min-width : 992px) and (max-width: 1199px) {
	.daskboard-content {
		width: calc(70rem + 18px);
		margin: 0 auto;
	}
}

@media ( min-width : 1200px) and (max-width: 1599px) {
	.mailbox-controls .form-group {
		width: 250px;
	}
	.grid-folder .col-xl-auto {
		width: 280px;
		min-width: 280px;
		padding: 15px;
		display: inline-block;
	}
	.daskboard-content {
		width: calc(84rem + 20px);
		margin: 0 auto;
	}
}

@media ( min-width : 1600px) {
	.daskboard-content {
		width: calc(126rem + 32px);
	}
}

.form-group>.z-label {
	font-size: 14px;
	font-weight: 700;
}

.form-group>.help-block {
	font-weight: 100;
}

.menu-item {
	cursor: pointer;
}

#zk_proc {
	top: 0;
	left: 0;
	background-color: #ccc;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 30000;
	opacity: .6;
}

.z-loading {
	opacity: 1;
	background-color: #FFF;
	left: 50% !important;
	top: 50% !important;
	margin: -60px 0 0 -70px;
	border-radius: 5px;
	display: inline;
}