@font-face {
	font-family: 'Battambang';
	font-style: normal;
	font-weight: 400;
	src: local('Battambang Regular'), local('Battambang-Regular'),
		url(/zul/fonts/uk-mEGe7raEw-HjkzZabPnmp4hxx.woff2) format('woff2');
	unicode-range: U+1780-17FF, U+200C, U+25CC;
}


@font-face {
	font-family: 'Romnea';
	src: local('Romnea Regular'), local('Romnea-Regular'),
		url(/zul/fonts/Romnea.ttf);
}